<header>
    <nav class="navbar" style="padding: 10px 20px 10px 40px">
        <a href="#"><img th:src="@{../images/fpt_logo.svg}" alt="fpt_logo"></a>
        <div class="ml-auto d-flex align-items-center 1">
            <div class="d-flex align-items-center mr-3">
                <div class="rounded-rectangle d-flex align-items-center">
                    <img th:src="@{../images/uniGate.svg}" alt="uniGate">
                    <span class="rounded-rectangle-text ml-2">uniGate</span>
                </div>
            </div>

            <div class="ml-auto d-flex align-items-center">
                <img th:src="@{../images/user_icon.svg}" alt="user_icon" class="d-inline-block align-top rounded-circle">
                <div class="ml-2 d-flex flex-column username">
                    <span>Warrior Tran</span>
                    <button class="logout-button text-left">Logout</button>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>